
<div class="home">
<button mat-raised-button color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon>Add Grocery</button>
<div class="search">
  <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="text" matInput placeholder="Enter Grocery Type" valur="groceryType" name="search"[(ngModel)]="search" (input)="getGroceryByType(search)">
    <button matSuffix mat-button (click)="getGroceryByType(search)"><mat-icon>search</mat-icon></button>
  </mat-form-field>

  <mat-icon class="logout-icon" (click)="logout()">exit_to_app</mat-icon>

</div>

<div *ngIf="all" class="container">
  <div *ngFor="let grocery of groceries" class="grocery-card">
    <mat-card>
      <mat-icon> fastfood</mat-icon>
      <mat-card-title>{{ grocery.groceryName }}</mat-card-title><hr>
      <mat-card-content>
        <p>Cost Per Item: &#8377;{{ grocery.costPerItem }}</p>
        <p>Items Available: {{ grocery.groceryAmounts.itemsAvailable }}</p>
        <!-- <p>Total Cost: {{ grocery.groceryAmounts.totalCostOfItems }}</p> -->
        <p>Grocery Type: {{ grocery.groceryType }}</p>
        <p>Source: {{ grocery.grocerySource.stateName }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary"
          (click)="openEditDialog(grocery.groceryId,grocery)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"
          (click)="openDeleteDialog(grocery)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="accent"
          (click)="openDetailsDialog(grocery.groceryId,grocery)"><mat-icon>visibility</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="byType" class="container">
  <div *ngFor="let item of groceriesByType" class="grocery-card">
    <mat-card>
      <mat-icon> fastfood</mat-icon>
      <mat-card-title>{{ item.groceryName }}</mat-card-title><hr>
      <mat-card-content>
        <p>Cost Per Item: &#8377;{{ item.costPerItem }} </p>
        <p>Items Available: {{ item.groceryAmounts.itemsAvailable }}</p>
        <!-- <p>Total Cost: {{ grocery.groceryAmounts.totalCostOfItems }}</p> -->
        <p>Grocery Type: {{ item.groceryType }}</p>
        <p>Source: {{ item.grocerySource.stateName }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary"
          (click)="openEditDialog(item.groceryId,item)"><mat-icon>update</mat-icon></button>
        <button mat-icon-button color="warn"
          (click)="openDeleteDialog(item)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="accent"
          (click)="openDetailsDialog(item.groceryId,item)"><mat-icon>visibility</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

</div>
