.grocery-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grocery-card {
  padding: 8px;
  flex-basis: calc(20% - 16px); /* Adjust the card width as needed */
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

mat-card {
  width: 100%;
  max-width: 200px; /* Adjust the card max-width as needed */
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fffacd;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease-in-out;
}

mat-card:hover {
  background-color: #e0e0e0; /* Change the color to your desired hover color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  transform: translateY(-10px); /* Add a slight lift on hover */
}

.container {
  margin: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px; /* Adjust the gap between cards */
  justify-content: center;
}

hr {
  font-weight: 300;
  width: 100%;
  margin: 8px 0;
}

.search {
  display: flex;
  position: absolute;
  right: 10px;
  top: 100px;
  align-items: center;
}

.search mat-form-field {
  margin-left: 16px;
}

.logout-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 16px;
  color: #007BFF;
  transition: color 0.3s ease-in-out;
}

.logout-icon:hover {
  color: #0056b3;
}

.home{
  margin-top: 30px;
  margin-bottom: 30px;
}

table {

  width: 100%;
}

.mat-mdc-form-field {

  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.tableContainer{
  width: 50%;
  align-items: center;
  margin-left: 25%;
}
