<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Grocery Information</mat-card-title><br><br>

  </mat-card-header>
  <mat-card-content style="align-self: flex-start;">
    <p>
      <mat-card-subtitle>Grocery Id : {{data.data.groceryId}}</mat-card-subtitle>
      <mat-card-subtitle>Grocery Name : {{data.data.groceryName}}</mat-card-subtitle>
      <mat-card-subtitle>Grocery Type : {{data.data.groceryType}}</mat-card-subtitle>
      <mat-card-subtitle>Cost per Item : &#8377;{{data.data.costPerItem}}</mat-card-subtitle>
    </p>
    <p>
      <mat-card-subtitle>Amount Id : {{data.data.groceryAmounts.groceryAmountId}}</mat-card-subtitle>
      <mat-card-subtitle>Total Items Available : {{data.data.groceryAmounts.itemsAvailable}}</mat-card-subtitle>
      <mat-card-subtitle>Total Cost : &#8377;{{data.data.groceryAmounts.totalCostOfItems}}</mat-card-subtitle>
    </p>
    <p>
      <mat-card-subtitle>Source Id : {{data.data.grocerySource.sourceId}}</mat-card-subtitle>
      <mat-card-subtitle>Source : {{data.data.grocerySource.stateName}}</mat-card-subtitle>
    </p>
  </mat-card-content>
  <button mat-icon-button color="warn" class="center-button"
    (click)="onCancel()"><mat-icon>close</mat-icon></button>
</div>
