.head {
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #a8f9a8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

h1{
  font-weight: 800;
}
